[Unit]
Description=Droid mount for /system_ext
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/mapper/dynpart-system_ext_a
Where=/system_ext
Type=ext4
Options=ro,barrier=1
# Options had SELinux context option:  

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/FP4/vendor/etc/fstab.default :
# system_ext                              /system_ext            ext4    ro,barrier=1                                         wait,slotselect,avb=vbmeta_system,logical,first_stage_mount
