[Unit]
Description=wifisetup
After=systemd-modules-load.service
Before=connman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo ON > /dev/wlan"

[Install]
WantedBy=network.target
